@import '~@/style/variables.scss';
.main-container {
  animation: 2s fadeInDown ease-out, 2s fadeIn ease-out;
  .main-block {
    cursor: pointer;
    border-bottom: solid 0.02rem $border-color;
    >h1 {
      font-size: .5rem;
    }
    >p {
      line-height: .6rem;
      font-size: .3rem;
    }
  }
}