.category-container {
  // animation: 2s fadeInDown ease-out, 2s fadeIn ease-out;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  // background: #fff;
  height: 100%;
  padding: 1rem;
  .category-block-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .category-block {
      animation: rotateIn 2s ease;
      position: relative;
      cursor: pointer;
      .normal-background {
        display: block;
      }
      .hover-background {
        display: none;
      }
      > div {
        position: absolute;
        color: #fff;
        font-weight: 600;
      }
      > div:first-child {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 2rem;
        font-size: 0.4rem;
        z-index: 1;
        left: 50%;
        transform: translateX(-50%);
        top: 0.4rem;
      }
      > div:last-child {
        font-size: 0.7rem;
        left: 50%;
        transform: translateX(-50%);
        top: 1rem;
      }
      &:hover {
        .normal-background {
          display: none;
        }
        .hover-background {
          display: block;
        }
      }
    }
  }
}
