.header-container {
  // background: linear-gradient(to bottom, #f00f, #f006);
  // border-bottom: 2px solid #eee;
  display: flex;
  line-height: 70px;
  height: 70px;
  // .header-logo-container {
  //   flex: 1;
  //   text-align: center;
  // }
  .header-menu-container {
    flex: 8;
    text-align: center;
    .header-menu-link {
      // a {
      height: 70px;
      vertical-align: top;
      display: inline-block;
      padding: 0 30px;
      color: #727272;
      font-size: 14px;
      transition: border .4s;
      &:hover{
        background: #ff799711;
        color: #727272aa;
        border-bottom: 2px solid red;
      }
    }
    .header-logo {
      height: 100%;
      padding: 0 30px;
      transition: height .6s;
      &:hover{
        height: 150%;
      }
    }
    .header-menu-link-active {
      // background: linear-gradient(to top, #ff2d6f, #ff7997);
      border-bottom: 2px solid red;
      color: #f006;
    }
  }
  .header-search-container {
    flex: 2;
    padding: 0 20px;
    .header-search-wrapper {
      position: relative;
    }
    .header-search-input {
      position: relative;
      background-color: #eee;
      height: 25px;
      width: 200px;
      border: none;
      border-radius: 40px;
      border-bottom: 2px solid #eee;
      outline:none;
      transition: width .4s;
      padding-left: 20px;
      &:focus {
        width: 230px;
      }
      &::placeholder {
        color: #bbb;
        font-size: 14px;
      }
    }
    .header-search-input-icon {
      cursor: pointer;
      position: relative;
      font-size: 16px;
      right: 30px;
      top: 2px;
    }
  }
}
