.footer-container {
  // background: #eee;
  border-top: 1px solid #eee;
  // border-bottom: 1px solid #eee;
  height: 70px;
  line-height: 70px;
  text-align: center;
  margin: 0 auto;
  .footer-copyright {

  }
}
