.app {
  // text-align: center;
  display: flex;
  flex-direction: column;
  .app-header {
    // position: fixed;
    // width: 100%;
  }
  .app-body {
    // background: url(./static/background.jpg) no-repeat;
    // background-position: center center;
    display: flex;
    padding: 10px 100px;
    .app-content {
      flex: 6;
    }
    .app-slide {
      flex: 1;
    }
  }
  .app-footer {

  }
}
