.app {
  // text-align: center;
  display: flex;
  flex-direction: column;
  .app-header {
    
  }
  .app-body {
    // background: url(./static/background.jpg) no-repeat;
    // background-position: center center;
    padding: 10px 100px;
  }
  .app-footer {

  }
}
