@import '~@/style/variables.scss';
body {
  margin: 0;
  padding: 0;
  color: $base-font-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
#root {
  height: 100%;
}

code {
  font-family: Arial, "Microsoft YaHei", "微软雅黑", monospace;
}
