@import '~@/style/variables.scss';
body {
  margin: 0;
  padding: 0;
  color: $base-font-color;
  font-family: 'Titillium Web',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
#root {
  height: 100%;
}

code {
  font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", monospace;
}
