@import '~@/style/variables.scss';
.blog-block {
  cursor: pointer;
  border-top: solid 0.02rem $border-color;
  border-bottom: solid 0.02rem $border-color;
  padding-bottom: .5rem;
  .block-title-container {
    .block-title {
      display: inline-block;
    }
    .block-info-wrapper {
      height: 100%;
      align-self: center;
      display: flex;
      .block-date {
        padding: 0.1rem 0.2rem;
        border-radius: 0.2rem;
        &:hover {
          background: rgb(242, 240, 248);
          border: none;
        }
      }
      .block-tag {
        display: flex;
        align-items: center;
        padding: 0.1rem 0.2rem;
        border-radius: 0.2rem;
        color: gray;
        font-size: 80%;
        &:first-child {
          margin-left: 1rem;
        }
        &:hover {
          background: rgb(243, 237, 237);
          border: none;
        }
      }
    }
  }
  &:hover {
    .block-title {
      color: gray;
      animation: heartBeat infinite 1s;
    }
  }
  > p {
    padding-left: 1rem;
    line-height: 0.6rem;
    font-size: 0.3rem;
  }
}
